<div class="container-fluid  mt-2">
    <div class="card">
        <div class="card-header">
            <h5>
                <i class="bi bi-funnel"></i>
                Filter
            </h5>
        </div>
        <div class="card-body">
            <div [formGroup]="searchFilterForm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="typeControl"
                            class="form-label">Type</label>
                        <select class="form-select"
                            aria-label="Default select example"
                            id="typeControl" formControlName="TypeId"
                            [class.invalid-input]="searchFilterForm.get('TypeId')?.invalid && searchFilterForm.get('TypeId')?.touched">
                            @for(item of vacationTypesList; track item){
                            <option
                                [ngValue]="item.id">{{item.name}}</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="employeeControl"
                            class="form-label">Employee</label>
                        <select class="form-select"
                            aria-label="Default select example"
                            id="employeeControl" formControlName="EmployeeId"
                            [class.invalid-input]="searchFilterForm.get('EmployeeId')?.invalid && searchFilterForm.get('EmployeeId')?.touched">
                            @for(item of employeesList; track item){
                            <option
                                [ngValue]="item.id">{{item.name}}</option>
                            }
                        </select>
                    </div>

                </div>

            </div>

            <div class="text-end mt-2">
                <button type="button" class="btn btn-outline-secondary"
                    (click)="loadVacations()">
                    <i class="bi bi-search"></i>
                    <span> Search</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header table-header">
            <div class="table-title">
                <h5>Vacations</h5>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary"
                    (click)="loadSaveDialog();"
                    data-bs-toggle="modal" data-bs-target="#saveVacationModal"
                    [disabled]="addButtonDisabled">
                    <i class="bi bi-airplane-fill"></i>
                    <span> Add</span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @for(col of vacationsTableColumns; track col){
                        <th>{{col}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(vacation of vacations | paginate : paginationConfig
                    ; track vacation; let i = $index){
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{vacation.employeeName}}</td>
                        <td>{{vacation.startDate | date:"dd/MM/yyyy"}}</td>
                        <td>{{vacation.endDate | date:"dd/MM/yyyy"}}</td>
                        <td>{{vacation.typeName}}</td>
                        <td>{{vacation.creationDate | date:"dd/MM/yyyy"}}</td>
                        <td>{{vacation.notes}}</td>

                        <td>
                            <div class="justify-content-end">
                                <button [disabled]="addButtonDisabled"
                                    (click)="editVacation(vacation.id)"
                                    data-bs-toggle="modal"
                                    data-bs-target="#saveVacationModal"
                                    type="button"
                                    class="btn btn-outline-success ms-2 me-2">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>

                                <button [disabled]="addButtonDisabled"
                                    (click)="showConfirmDialog(vacation.id)"
                                    type="button"
                                    class="btn btn-outline-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <!-- Component -->
            <pagination-controls class="text-end"
                (pageChange)="changePage($event)"></pagination-controls>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="saveVacationModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Save
                    Vacation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="vacationForm">
                    <div class="row align-end">
                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="startDateControl"
                                class="form-label">Start Date</label>
                            <input type="date" class="form-control"
                                id="startDateControl"
                                formControlName="StartDate"
                                placeholder="Start Date"
                                [class.invalid-input]="vacationForm.get('StartDate')?.invalid && vacationForm.get('StartDate')?.touched">
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="endDateControl"
                                class="form-label">End Date</label>
                            <input type="date" class="form-control"
                                id="endDateControl"
                                formControlName="EndDate"
                                placeholder="End Date"
                                [class.invalid-input]="vacationForm.get('EndDate')?.invalid && vacationForm.get('EndDate')?.touched">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="employeeControl"
                                class="form-label">Employee</label>
                            <select class="form-select"
                                aria-label="Default select example"
                                id="employeeControl" formControlName="EmployeeId"
                                [class.invalid-input]="vacationForm.get('EmployeeId')?.invalid && vacationForm.get('EmployeeId')?.touched">
                                @for(item of employeesList; track item){
                                <option
                                    [ngValue]="item.id">{{item.name}}</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="vacTypeControl"
                                class="form-label">Type</label>
                            <select class="form-select"
                                aria-label="Default select example"
                                id="vacTypeControl" formControlName="TypeId"
                                [class.invalid-input]="vacationForm.get('TypeId')?.invalid && vacationForm.get('TypeId')?.touched">
                                @for(item of vacationTypesList; track item){
                                <option
                                    [ngValue]="item.id">{{item.name}}</option>
                                }
                            </select>
                        </div>

                        <div class="col-12 mb-2">
                            <label for="notesControl"
                                class="form-label">Notes</label>
                            <textarea class="form-control"
                                id="notesControl"
                                formControlName="Notes"
                                rows="2"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal" #closeButton>Close</button>
                <button type="button" class="btn btn-primary"
                    [disabled]="!vacationForm.valid"
                    (click)="saveVacation()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@if(showConfirmationDialog){
<app-confirmation-dialog [title]="deleteDialogTitle" [content]="deleteDialogBody"
    (confirm)="confrimVacationDelete($event)">
</app-confirmation-dialog>
}