
.welcome{
    font-size: 20px;
    font-weight: 600;
}

.passed{
    font-weight: 600;
    color: green;
}

.faild{
    font-weight: 500;
    color: red;
}

/* External Styling */


.header{
    background-color: #ffffff;
    padding: 1% 4% 2%;
    border-radius: 10px;
    border: 1px #dddddd solid;
    border-top: 10px #673ab6 solid;
}


.email, .switch-account, .cloud-icon, .description{
      font-size: 0.9rem;
}

.email{
    font-weight: 600;
    color: #6b6a6a;  
}

.warning, .required-icon, .invalid-message{
      color: #cb0909;
}
.cloud-icon{
      cursor: pointer;
}

.question{
   background-color: #ffffff;
    padding: 2% 4% 2%;
    border-radius: 10px;
    border: 1px #dddddd solid;
    margin-top: 1%;
}

.title{
      font-size: 1.3rem;
      margin-bottom: 1%;
}

input, select{
   padding: 1% 2%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 50%; 
      box-sizing: border-box;  
}

.action-btn{
      padding: 1.5% 2.5%;
    border-radius: 4px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}


.disabled-button{
    background-color: #673ab54d !important;
}

.submit-btn{
      background-color: #673ab5;
      color: white;
}


.reset-btn{ 
      background-color: unset;
      color: #673ab5;
}

.reset-btn:hover{
      background-color: #673ab514;
}

.actions{
      margin-top: 1%;
      display: flex;
      justify-content: space-between;
}

.copy-right{
      font-size: 0.9rem;
      color: #696868;
}

.logo{
      font-size: 1.4rem;
      font-weight: 600;
      color: #696868;
}

.container{
      margin: 30px;
      border: 1px solid #cccccc;
      padding: 10px;
}

.box{
      background-color: green;
      color: white;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 4px;
}

.footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4%;
}
.account{
      display: flex;
}

.switch-account{
      flex-grow: 1;
      margin-left: 2%;
}

.red-border{
      border-color: red;
}

.invalid-message{
    font-size: 0.9rem;
    padding: 1%;
}

@media (max-width: 650px){
      input, select{
            width: 100%;
            padding: 4% 5%;
            font-size: 1.3rem;
      }

      .action-btn{
            padding: 2.5% 6.5%;
            font-size: 1.1rem;
      }
}