/* You can add global styles to this file, and also import other style files */
html {
    background-color: #eee9f6;
    font-family: sans-serif;
    font-size: 14px;
    margin: 8px 22%;
}



@media (max-width: 650px) {
    html {
        margin: 8px 2%;
        font-size: 12px;
    }
}