/* You can add global styles to this file, and also import other style files */
/* Root Element */

.title-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invalid-input{
    border-color: red;
}

@media(max-width: 650px) {


}

/* div{
    background-color: red !important; 
} */