
<div class="container-fluid mt-2">

    <div class="card">
        <div class="card-header">
            <h5>
                <i class="bi bi-funnel"></i>
                Filter
            </h5>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="employeeName"
                        class="form-label">Employee Name</label>
                    <input type="text" class="form-control"
                        id="employeeName"
                        placeholder="Employee Name">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="position"
                        class="form-label">Position</label>
                    <input type="text" class="form-control"
                        id="position"
                        placeholder="Position">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label for="status"
                        class="form-label">Status</label>
                    <input type="text" class="form-control"
                        id="status"
                        placeholder="Status">
                </div>

            </div>

            <div class="text-end">
                <button type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header table-header">
            <div>
                <h5>Employees</h5>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary" (click)="resetForm()"
                    data-bs-toggle="modal" data-bs-target="#saveEmployeeModal">
                    <i class="bi bi-person-add"></i>
                    Add Employee
                </button>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @for(col of employeesTableColumns; track col){
                        <th>{{col}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(emp of employees | paginate: paginationConfig; track emp.id; let i = $index){
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.positionName}}</td>
                        <td>{{emp.birthdate | date:'dd/MM/yyyy'}}</td>
                        <td>
                            @if(emp.status){
                            <span class="badge text-bg-success">Active</span>
                            }
                            @else{
                            <span class="badge text-bg-danger">Inactive</span>
                            }
                        </td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.salary | currency:'USD'}}</td>
                        <td>{{emp.departmentName}}</td>
                        <td>{{emp.managerName}}</td>
                    </tr>
                    }
                </tbody>
            </table>
            <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
        </div>
    </div>

</div>

<div class="modal modal-lg fade" id="saveEmployeeModal" tabindex="-1"
    aria-labelledby="saveEmployeeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Save
                    Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeForm">
                    <div class="row align-end">
                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="name"
                                class="form-label">Name</label>
                            <input type="text" class="form-control"
                                [class.invalid-form]="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched"
                                id="name" formControlName="name"
                                placeholder="Employee Name">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="birthdate"
                                class="form-label">Birthdate</label>
                            <input type="date" class="form-control"
                                id="birthdate" formControlName="birthdate"
                                placeholder="Birthdate">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="email"
                                class="form-label">Email</label>
                            <input type="email" class="form-control"
                                id="email" formControlName="email"
                                placeholder="Email">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="salary"
                                class="form-label">Salary</label>
                            <input type="number" class="form-control"
                                [class.invalid-form]="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched"
                                id="salary" formControlName="salary"
                                placeholder="Salary">
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="department"
                                class="form-label">Department</label>
                            <select class="form-select" id="department"
                                [class.invalid-form]="employeeForm.get('departmentId')?.invalid && employeeForm.get('departmentId')?.touched"
                                 formControlName="departmentId">
                                @for(item of departments; track item.id){
                                <option [value]="item.id">{{item.name}}</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="position"
                                class="form-label">Positions</label>
                            <select class="form-select" id="position"
                             [class.invalid-form]="employeeForm.get('positionId')?.invalid && employeeForm.get('positionId')?.touched"
                            formControlName="positionId">
                                @for(item of positions; track item.id){
                                <option [value]="item.id">{{item.name}}</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                            <label for="manager"
                                class="form-label">Manager</label>
                            <select class="form-select" id="manager" formControlName="managerId">
                                @for(item of managers; track item.id){
                                <option [value]="item.id">{{item.name}}</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox"
                                    role="switch" id="status" formControlName="status"
                                    checked>
                                <label class="form-check-label"
                                    for="status">Status</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal" id="closeDialog" #closeDialog>Close</button>
                <button type="button" class="btn btn-primary" [disabled]="this.employeeForm?.invalid" (click)="saveEmployee()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
